  
* { margin:0; 	padding: 0;
	height: 5px;
	width: 359px;
}

body {
	margin: 10; padding: 10px;
	font: 70%/1.5em  Verdana, Tahoma, Arial,sans-serif;
	color: #333; 
   
}

/* links */
a {
	color: #F9864D; 
	 
	text-decoration: none;
}
a:hover {
	color: #575757;
 
}

